* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  /* vv this makes 1rem = 10px. So it’s really easy to know what rem is to pixels
  0.8rem = 8px
  1.6rem = 16px
  2.4rem = 24px
  3.2rem = 32px
  4rem = 40px  
  and so on...*/
  font-size: 62.5%; 
}

body {
  height: 100vh;
}

.App {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.form_container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  font-size: 1.8rem;
  margin: 0px 25px 0px 25px;
}

.good_email:focus {
  background-color: hsl(138, 71%, 45%, 30%);
  color:hsl(138, 71%, 45%, 100%);
  outline: none;
}

.bad_email:focus {
  outline: none;
  background-color: hsl(7, 73%, 88%);
  margin: 0;
}

.email_err_msg {
  color: blue;
  /* font-size: 0.9rem; */
}

button {
  cursor: pointer;
}

 .mobile_banner {
  min-width: 100%;
}

.benefits_list li {
  background: url('./Images/icon-list.svg') no-repeat;
  padding-left: 20px;
  list-style: none;
}

li:nth-of-type(1) {
  margin-bottom: 18px;
}

/* .content_container {
  padding: 0 1.875rem 0 1.875rem;
  text-align: start;
} */

/* .benefits_list {
  list-style: none;
  padding: 0;
  margin: 0;
} */



/* .input_and_btn {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  color: red;
} */

/* input, input:focus {
  margin-top: 0.5rem;
  padding: .9rem;
  border-radius: .5rem;
  border-color: hsl(234, 7%, 73%);
  border-width: .06rem;
  border-style: solid;
  outline: none;
} */

/* .subscribe_button {
  margin-top: 1.2rem;
  color: hsl(0, 0%, 100%);
  background-color: hsl(235, 18%, 26%);
  padding: .9rem;
  border-radius: .5rem;
} */

/* .input::placeholder {
  color: hsl(234, 7%, 73%);
} */

/* .label_errorMsg {
  display: flex;
  justify-content: space-between;
  font-size: 0.9rem !important;
  margin: 0;
} */


/* Dark Slate Grey: hsl(234, 29%, 20%)
Charcoal Grey: hsl(235, 18%, 26%)
Grey: hsl(231, 7%, 60%)
White: hsl(0, 0%, 100%) */