* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: Roboto;
  src: url(../public/fonts/Roboto-Regular.ttf);
}

html, body {
  /* vv this makes 1rem = 10px. So it’s really easy to know what rem is to pixels
  0.8rem = 8px
  1.6rem = 16px
  2.4rem = 24px
  3.2rem = 32px
  4rem = 40px  
  and so on...*/
  font-size: 62.5%; 
  font-family: Roboto;
}

@font-face {
  font-family: Roboto_Bold;
  src: url(../public/fonts/Roboto-Bold.ttf);
}

body {
  height: 100vh;
}

.App {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

/* ----- Mobile Styles ----- */

.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  font-size: 1.8rem;
  /* margin: 2.5rem 2.5rem 0 2.5rem; */
  background-color: hsl(0, 0%, 100%);
}

.form_container {
  margin: 2.5rem 2.5rem 0 2.5rem;
}

.intro_to_list {
  margin-top: 1.8rem;
}

.benefits_list {
  margin-top: 2.5rem;
}

.benefits_list li {
  background: url('./Images/icon-list.svg') no-repeat;
  padding-left: 3rem;
  list-style: none;
  line-height: 2.5rem;
}

.good_email:focus {
  background-color: hsl(138, 71%, 45%, 30%);
  color:hsl(138, 71%, 45%, 100%);
  outline: none;
  margin-top: .8rem;
}

.bad_email:focus {
  outline: none;
  background-color: hsl(7, 73%, 88%);
  margin-top: .8rem;
}

.email_err_msg {
  color: hsl(7, 87%, 79%);
}

button {
  cursor: pointer;
}

 .mobile_banner {
  min-width: 100%;
}

li:nth-of-type(2) {
  margin-top: 1.8rem;
}

li:nth-of-type(3) {
  margin-top: 1.8rem;
}

input {
  height: 5.5rem;
  font-size: 1.5rem;
}

.label_errorMsg {
  margin-top: 3rem;
  font-family: Roboto_Bold;
}


.input::placeholder {
  color: hsl(234, 7%, 73%);
}

.input_and_btn {
  display: flex;
  flex-direction: column;
  row-gap: 2.5rem;
}

input, input:focus {
  margin-top: .8rem;
  padding: .9rem;
  border-radius: .75rem;
  border-color: hsl(234, 7%, 73%);
  border-width: .06rem;
  border-style: solid;
  outline: none;
}

.subscribe_button {
  color: hsl(0, 0%, 100%);
  background-color: hsl(235, 18%, 26%);
  padding: .9rem;
  border-radius: .75rem;
  height: 5.5rem;
}

.label_errorMsg {
  display: flex;
  justify-content: space-between;
  font-size: 1.25rem;
  margin: 0;
}

.label_input_btn_container {
  margin-top: 4rem;
}

.attribution {
  margin-top: .5rem;
}

/* -----------Mobile Success Modal--------- */

.successModal_container {
  position: absolute;
  z-index: 10;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100vw;
  height: 100vh;
  background-color: hsl(0, 0%, 100%);
  padding: 2.5rem 2.5rem 4rem 2.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.success_Modal_top_content {
  position: absolute;
  transform: translateY(-40%);
  display: flex;
  flex-direction: column;
  margin-right: 2.5rem;
  row-gap: 3.5rem;
}

.dismiss_btn_container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.dismiss_btn {
  height: 5.5rem;
  border-radius: .75rem;
  color: hsl(0, 0%, 100%);
  background-color: hsl(235, 18%, 26%);
  border: none;
}

.user_email {
  font-family: Roboto_Bold;
}

/* ----- Tablet Styles ----- */
@media (min-width: 800px) {
  .form_container {
    height: 100%;
    display: flex;
    align-content: end;
    flex-direction: column;
    justify-content: start;
    font-size: 3rem;
    margin: 2.5rem 2.5rem 0 2.5rem;
  }

  .subscribe_button {
    height: 8rem;
    font-size: 2.5rem;
  }

  input {
      height: 8rem;
      font-size: 2.5rem;
    }

    .email_label {
      font-size: 2rem;
    }

    .attribution {
      font-size: 2rem;
    }

    .dismiss_btn {
      height: 8rem;
      font-size: 2.5rem;
    }
}

/* ----- Desktops and Laptop Styles ----- */
@media  (min-width: 1440px) {
  body {
    background-color: hsl(234, 29%, 20%);
  }

  .form_container {
    height: 50vh;
    width: 50vw;
    /* display: flex; */
    /* justify-content: start; */
    /* font-size: 1.8rem; */
    /* margin: 2.5rem 2.5rem 0 2.5rem; */
  }
  
}

/* Dark Slate Grey: hsl(234, 29%, 20%)
Charcoal Grey: hsl(235, 18%, 26%)
Grey: hsl(231, 7%, 60%)
White: hsl(0, 0%, 100%) */