* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: Roboto;
  src: url(../public/fonts/Roboto-Regular.ttf);
}

html, body {
  /* vv this makes 1rem = 10px. So it’s really easy to know what rem is to pixels
  0.8rem = 8px
  1.6rem = 16px
  2.4rem = 24px
  3.2rem = 32px
  4rem = 40px  
  and so on...*/
  font-size: 62.5%; 
  font-family: Roboto;
}



/* .Roboto {
  font-family: Roboto;
} */

@font-face {
  font-family: Roboto_Bold;
  src: url(../public/fonts/Roboto-Bold.ttf);
}

/* .Roboto_Bold {
  font-family: Roboto_Bold;
} */

body {
  height: 100vh;
}

.App {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.form_container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  font-size: 1.8rem;
  margin: 2.5rem 2.5rem 0 2.5rem;
}

.intro_to_list {
  margin-top: 1.8rem;
}

.benefits_list {
  margin-top: 2.5rem;
}

.benefits_list li {
  background: url('./Images/icon-list.svg') no-repeat;
  padding-left: 3rem;
  list-style: none;
  line-height: 2.5rem;
}

.good_email:focus {
  background-color: hsl(138, 71%, 45%, 30%);
  color:hsl(138, 71%, 45%, 100%);
  outline: none;
  margin-top: .8rem;
}

.bad_email:focus {
  outline: none;
  background-color: hsl(7, 73%, 88%);
  margin-top: .8rem;
}

.email_err_msg {
  color: hsl(7, 87%, 79%);
}

button {
  cursor: pointer;
}

 .mobile_banner {
  min-width: 100%;
}

li:nth-of-type(2) {
  margin-top: 1.8rem;
}

li:nth-of-type(3) {
  margin-top: 1.8rem;
}

input {
  height: 5rem;
}

.label_errorMsg {
  margin-top: 3rem;
  font-family: Roboto_Bold;
}


.input::placeholder {
  color: hsl(234, 7%, 73%);
}

.input_and_btn {
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
}

input, input:focus {
  margin-top: .8rem;
  padding: .9rem;
  border-radius: .5rem;
  border-color: hsl(234, 7%, 73%);
  border-width: .06rem;
  border-style: solid;
  outline: none;
}

.subscribe_button {
  color: hsl(0, 0%, 100%);
  background-color: hsl(235, 18%, 26%);
  padding: .9rem;
  border-radius: .5rem;
  height: 5rem;
}

.label_errorMsg {
  display: flex;
  justify-content: space-between;
  font-size: 1.25rem;
  margin: 0;
}

.label_input_btn_container {
  margin-top: 4rem;
}

/* -----------Success Modal--------- */

.successModal_container {
  position: absolute;
  z-index: 10;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 2px solid red;
}


/* Dark Slate Grey: hsl(234, 29%, 20%)
Charcoal Grey: hsl(235, 18%, 26%)
Grey: hsl(231, 7%, 60%)
White: hsl(0, 0%, 100%) */